
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira Sans, sans-serif;
}

body{
  background: #f1f1f3;
  color: #222;
}

/* nav section  */
.nav{
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
  background: #f1f1f3;
  align-items: center;
}

.logo{
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  color: #0E0E0E;
}

.login-btn{
  padding: 15px 30px;
  border: 1px solid #006A50;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  color: #006A50;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

/* banner section  */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px;
  background: #C6E4D6;
  border-radius: 24px;
  margin: 20px auto;
  width: 90%;
}

.banner h4{
  color: #0E0E0E;
  opacity: 0.5;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.banner h1{
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #0E0E0E;
  margin: 20px 0px;
}

.explore-btn{
  background: #006A50;
  padding: 16px 32px;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  cursor: pointer;
}

.banner-img img{
  width: 400px;
}

/* Pillars Section */
.pillars{
  width: 90%;
  margin: 60px auto;
}

.card-container{
  display: flex;
  gap: 22px;
  margin-top: 30px;
}

.card{
  background: white;
  padding: 24px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card img{
  width: 60px;
  margin-bottom: 15px;
}

.card h3{
  margin-bottom: 16px;
  margin-top: 8px;
  color: #0E0E0E;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
}

.card p{
  color: rgba(14, 14, 14, 0.7);
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

/* vision section  */
.vision-section {
    padding: 30px 0px;
}

.vision-container {
    width: 90%;
    margin: auto;
}

.vision-section h2 {
    font-size: 35px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #0E0E0E;
}

.vision-section p {
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.vision-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.vision-card {
    flex: 1;
    border-radius: 14px;
    padding: 30px;
    box-shadow: rgba(84, 144, 245, 1);
    text-align: left;
    
}

.vision-card img {
    width: 60px;
    margin-bottom: 20px;
}

.vision-card h3 {
    margin-bottom: 10px;
    color: #0E0E0E;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
}

.vision-card p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.blue { 
    background: rgba(84, 144, 245, 0.2); 
}
.green {
     background: rgba(198, 228, 214, 1); 
}
.yellow {
     background: rgba(247, 235, 207, 1); 
}

.learn-btn-blue {
    display: inline-block;
    padding: 10px 20px;
    background: #5490F5;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    line-height: 24px;
}

.learn-btn-green {
    display: inline-block;
    padding: 10px 20px;
    background: #09A15C;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    line-height: 24px;
    margin-top: 20px;
}

.learn-btn-yellow {
    display: inline-block;
    padding: 10px 20px;
    background: #FFC239;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    line-height: 24px;
    margin-top: 20px;
}

.testimonial-box {
    background: #fff;
    padding: 50px 20px 30px 20px;
    border-radius: 12px;
    margin-top: 35px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 30px 30px;
}

blockquote {
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
    font-weight: 400;
}

.author-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.author {
    color: rgba(14, 14, 14, 0.5);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}





